{% extends 'base.html.twig' %}

{% block nav %}
    {% include 'mainNavRota.html..twig' %}
{% endblock %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <h3>Enter the rota for the {{ department }} department</h3>
        </div>
        <div class="pure-u-1-2">
            {% if weekNumber > 1 %}
                <a id="nextWeek" href="?page={{ page }}&week={{ weekNumber }}&direction=prev">Prev week</a>
            {% endif %}
            <a id="nextWeek" href="?page={{ page }}&week={{ weekNumber }}&direction=next">Next week</a>
        </div>
        <div class="pure-u-1">

            <form action="{{ self }}?page=adminrotafoh" name="weeklyRota" method="post">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Employees</th>
                        {% for day in week %}
                            <th>{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for employee in users %}
                    <tr>
                        <td>{{ employee.name}} {{ employee.surname }}</td>
                        {% for day in week  %}
                            <td>
                                <select name="employee_id,{{ employee.id_employee }}-date,{{ day }}">
                                    <option value="5">OFF</option>
                                    {% for time in shift %}
                                        {% if time.id_shift != 5 %}
                                            <option value="{{ time.id_shift}}">{{ time.start_time }} to {{ time.finish_time }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        {% endfor %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
                <input type="submit" name="submit" value="See and confirm rota">
            </form>
        </div>
    </div>
{% endblock %}
