{% extends 'base.html.twig' %}

{% block nav %}
    <div class="pure-menu custom-restricted-width">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}/media/images/logo.png" alt="well street logo"></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item  ">
                <a href="?page=employees" class="pure-menu-link"><i class="fas fa-address-book"></i> Employees</a>
            </li>
            <li class="pure-menu-item"><a href="?page=holiday" class="pure-menu-link"><i class="fas fa-plane"></i> Holiday</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="?page=documents" class="pure-menu-link"><i class="fas fa-file-alt"></i> Documents</a></li>
            <li class="pure-menu-item "><a href="?page=payslip" class="pure-menu-link"><i class="fas fa-dollar-sign"></i> Payslip</a></li>
            <li class="pure-menu-item"><a href="?page=communication" class="pure-menu-link"><i class="fas fa-envelope"></i> Communication</a></li>
            <li class="pure-menu-item pure-menu-has-children">
                <a href="?page=adminrota" class="pure-menu-link "> <i class="fas fa-clock"></i> Rota</a>
                <ul class="submenu">
                    <li class="pure-menu-item"><a href="?page=adminrotafoh" class="pure-menu-link">FOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotaboh" class="pure-menu-link">BOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotanewshift" class="pure-menu-link">Create New Shift</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block mainHeader %}
    <h1>Documents</h1>
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>File in the system</h3>
            <ul>
                {% for key,value in fileArray %}

                    <li><i class="fas fa-file"></i> <a href="{{ self }}?page=showdoc&id={{ key }}">{{ value }}</a></li>

                {% endfor %}
            </ul>

        </div>
        <div class="pure-u-1-2">
            <h3>Upload a file</h3>
            <form class="pure-form" name="upload" enctype="multipart/form-data" action="{{ self }}?page=documents" method="post">
                <fieldset>

                        <label for="userfile">Upload this file:</label>
                        <input name="userfile" type="file">
                    <span class="error">{{ error }}</span>

                    <div class="pure-control-group">
                        <label for="info">Add file info: </label>
                        <textarea name="info" class="pure-input-1-2" maxlength="150"></textarea>
                        <span class="error">{{ infoError }}</span>
                    </div>


                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary"><i class="fas fa-arrow-circle-up"></i> Upload</button>
                        <span><strong>{{ uploadStatus }}</strong></span>
                        <span class="error">{{ fileError }}</span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}