{% extends 'base.html.twig' %}


{% block nav %}
    <div class="pure-menu custom-restricted-width">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}media/images/logo.png" alt="well street logo"></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected ">
                <a href="?page=employees" class="pure-menu-link"><i class="fas fa-address-book"></i> Employees</a>
            </li>
            <li class="pure-menu-item"><a href="?page=holiday" class="pure-menu-link"><i class="fas fa-plane"></i> Holiday</a></li>
            <li class="pure-menu-item"><a href="?page=documents" class="pure-menu-link"><i class="fas fa-file-alt"></i> Documents</a></li>
            <li class="pure-menu-item "><a href="?page=payslip" class="pure-menu-link"><i class="fas fa-dollar-sign"></i> Payslip</a></li>
            <li class="pure-menu-item"><a href="?page=communication" class="pure-menu-link"><i class="fas fa-envelope"></i> Communication</a></li>
            <li class="pure-menu-item pure-menu-has-children">
                <a href="?page=adminrota" class="pure-menu-link "> <i class="fas fa-clock"></i> Rota</a>
                <ul class="submenu">
                    <li class="pure-menu-item"><a href="?page=adminrotafoh" class="pure-menu-link">FOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotaboh" class="pure-menu-link">BOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotanewshift" class="pure-menu-link">Create New Shift</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block mainHeader %}
    <h1>Employee Details</h1>
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>{{ name|capitalize }} {{ surname|capitalize }}</h3>
        </div>
        <div class="pure-u-1">
            <ul class="employeeDetails">
                <li>Employee Id: {{ id_employee }}</li>
                <li>Name: {{ name|capitalize }}</li>
                <li>Surname: {{ surname|capitalize }}</li>
                <li>Gender: {{ gender|capitalize }}</li>
                <li>Email: {{ email }}</li>
                <li>Date Started: {{ date|date("d-m-Y") }}</li>
                <li>NIN: {{ nin|upper }}</li>
                <li>Postcode: {{ post_code|capitalize }}</li>
                <li>Address: {{ address }}</li>
                <li>Phone Number: {{ phone_number }}</li>
                <li>Date of birthday: {{ date_of_birthday|date("d-m-Y") }}</li>
                <li>Departement: {{ department|upper }}</li>
                <li>Position: {{ position }}</li>
                <li>Payrate: {{ payrate }}</li>
                <li>Holiday allowance: {{ holiday_allowance }}</li>
            </ul>
        </div>
        <button class="pure-button pure-button-primary"> <i class="fas fa-trash-alt"></i> <a href="{{ self }}?page=edit&id={{ id_employee }}&delete=ok">Delete</a></button>
    </div>
{% endblock %}