<!doctype html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="{{ FILE_ROOT }}media/images/favicon.ico"  type="image/x-icon">
<link rel="icon" href="{{ FILE_ROOT }}media/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:600%7cQuestrial" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">    <!--[if lte IE 8]>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<link rel="stylesheet" href="media/css/side-menu-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<link rel="stylesheet" href="media/css/side-menu.css">
<!--<![endif]-->
<link rel="stylesheet" href="media/css/mediaqueries.css">
<link rel="stylesheet" href="media/css/style.min.css">
<link rel="stylesheet" href="media/css/mystyle.css">
<title>{{ title }}</title>
</head>
<body id="homeBody">
<header id="homeHeader">
    <h1>WELL STREET APP</h1>
</header>
<main>
    <form class="pure-form pure-form-stacked" method="post" action="index.php?page=home">
        <fieldset>
            <legend><img class="pure-img-responsive" id="homeImg" src="{{ FILE_ROOT }}media/images/logo.png" alt="well street logo"></legend>

            <input type="hidden" name="page" value="home">

            <label for="username">Username</label>
            <input id="username" placeholder="Username" name="username" required value="{{ redisplayUser }}">
            <span class="pure-form-message error">{{ userError }}</span>

            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" name="pass">
            <span class="pure-form-message error">{{ passError }}</span>

            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
    </form>
</main>

</body>
</html>

