{% extends 'base.html.twig' %}

{% block nav %}
    <div class="pure-menu custom-restricted-width">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}media/images/logo.png" alt="well street logo"></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item ">
                <a href="?page=employees" class="pure-menu-link"><i class="fas fa-address-book"></i> Employees</a>
            </li>
            <li class="pure-menu-item"><a href="?page=holiday" class="pure-menu-link"><i class="fas fa-plane"></i> Holiday</a></li>
            <li class="pure-menu-item"><a href="?page=documents" class="pure-menu-link"><i class="fas fa-file-alt"></i> Documents</a></li>
            <li class="pure-menu-item pure-menu-selected "><a href="?page=payslip" class="pure-menu-link"><i class="fas fa-dollar-sign"></i> Payslip</a></li>
            <li class="pure-menu-item"><a href="?page=communication" class="pure-menu-link"><i class="fas fa-envelope"></i> Communication</a></li>
            <li class="pure-menu-item pure-menu-has-children">
                <a href="?page=adminrota" class="pure-menu-link "> <i class="fas fa-clock"></i> Rota</a>
                <ul class="submenu">
                    <li class="pure-menu-item"><a href="?page=adminrotafoh" class="pure-menu-link">FOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotaboh" class="pure-menu-link">BOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotanewshift" class="pure-menu-link">Create New Shift</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}


{% block mainHeader %}
    <h1>Upload Payslip</h1>
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <h3>Payslip in the database for past and current year</h3>
        </div>
        <div class="pure-u-1-2">

            <dl>
                <dt><strong>{{ lastYear }}</strong></dt>
                {% for file in pastYear %}
                    <dd> <i class="fas fa-dollar-sign"></i> {{ file }}</dd>
                {% endfor %}
            </dl>
        </div>
        <div class="pure-u-1-2">

            <dl>
                <dt><strong>{{ year }}</strong></dt>
                {% for file in thisYear %}
                    <dd> <i class="fas fa-dollar-sign"></i> {{ file }}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
        <div class="pure-u-1">
            <form method="post" enctype="multipart/form-data" action="{{ self }}?page=uploadpayslip&id={{ employeeId }}&upload=true"  class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="userfile">file:</label>
                        <input name="userfile" type="file">
                    </div>

                    <div class="pure-control-group">
                        <label for="month">
                            Payslip of:
                        </label>
                        <select name="month" id="month">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                            <label for="year">
                            </label>
                            <select name="year" id="year">
                                <option value="{{ year }}">{{ year }}</option>
                                <option value="{{ lastYear }}">{{ lastYear }}</option>
                            </select>
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary"><i class="fas fa-arrow-circle-up"></i> Upload</button>
                        <p class="error">{{ fileError }} {{ payslipExist }}</p>
                        <span><strong>{{ uploadStatus }}</strong></span>
                    </div>
                </fieldset>
            </form>
        </div>

{% endblock %}