{% extends 'base.html.twig'%}


{% block nav %}
    <div class="pure-menu custom-restricted-width">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}media/images/logo.png" alt="well street logo"></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="?page=userholiday" class="pure-menu-link"><i class="fas fa-plane"></i> Holiday</a></li>
            <li class="pure-menu-item"><a href="?page=userpayslip" class="pure-menu-link"><i class="fas fa-dollar-sign"></i> Payslip</a></li>
            <li class="pure-menu-item"><a href="?page=userrota" class="pure-menu-link"><i class="fas fa-clock"></i> Rota</a></li>
        </ul>
    </div>
{% endblock %}


{% block mainHeader %}
    <h1>Holiday</h1>
{% endblock %}

{% block content %}
    {% if requested is defined %}
        <h3>{{ requested }}</h3>
    {% endif %}
    <div id="calendar"></div>

    <div class="pure-g">
        <div class="pure-u-1">
            <h3>Holiday Planner</h3>

        </div>
        <div class="pure-u-1-2" id="holidayPlanner">
            <form action="{{ self  }}?page=userholiday" name="" method="post" class="pure-form pure-form-stacked">
                <legend><p>Select holiday period you want to request</p></legend>
                <div class="pure-control-group">
                    <label for="start">Holiday first day</label>
                    <input type="date" name="start" id="start">
                </div>
                <div class="pure-control-group">
                    <label for="end">Holiday last day</label>
                    <input type="date" name="end" id="end">
                </div>
                <button type="submit" name="submit" class="pure-button pure-button-primary">Send request</button><span class="error">{{ startError }}</span>
            </form>
            <p>* If selected date have 1 or more employee already on holiday, request unlikely to be accepted </p>
        </div>
        <div class="pure-u-1-2">
            {% if holiday is defined %}
                <p><strong>You have {{ holiday|length }} holiday request pending</strong></p>
                <ol>
                    {% for event in holiday %}
                        <li>Start on <strong>{{ event.start }}</strong> end on <strong>{{ event.end }}</strong></li>
                    {% endfor %}
                </ol>
            {% else %}
                <p><strong>You have 0 holiday request pending</strong></p>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="media/js/myCalendarEmployee.js"></script>
{% endblock %}